<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicia sesión como usuario</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Añade tus credenciales como usuario (solo visualización)</h1>
    <hr>

    <form action="#" th:action="@{/post-user}" th:object="${usuario}" method="POST">
        <input type="text" th:field="*{nombre}"
               placeholder="Introduce el nombre" class="form-control mb- col-">

        <input type="text" th:field="*{apellido1}"
               placeholder="Introduce el primer apellido" class="form-control mb- col-">

        <input type="text" th:field="*{apellido2}"
               placeholder="Introduce el segundo apellido" class="form-control mb- col-">

        <input type="text" th:field="*{correo}"
               placeholder="Introduce el correo electronico" class="form-control mb- col-">

        <input type="text" th:field="*{equipofav}"
               placeholder="Introduce tu equipo de la Liga favorito" class="form-control mb- col-">

        <button type="submit" class="btn btn-info col- "> Guardar e iniciar sesión</button>
    </form>

    <hr>

    <a th:href = "@{/}"> Atras</a>
</div>
</body>
</html>