<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Actualiza los datos del jugador</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Actualización de los datos del jugador</h1>
    <hr>
    <p th:if="${error}" th:text="${error}"></p>


    <form action="#" th:unless="${error}" th:action="@{/update-jugador/{dni}(dni=${jugador.dni})}" th:object="${jugador}" method="POST">
              <p>DNI: <p th:field="*{dni}"></p>
              <p>Nombre: <input type="text" th:field="*{nombre}" class="form-control mb-5 col-"/></p>
              <p>Apellidos: <input type="text" th:field="*{apellidos}" class="form-control mb-5 col-"/></p>
              <p>Alias: <input type="text" th:field="*{alias}" class="form-control mb-5 col-"/></p>
              <!-- <label for="nombre">Introduce el nombre del jugador</label>
              <input type="text" th:field="*{nombre}"
                     id="nombre" placeholder="Introduce el nombre" class="form-control mb-5 col-">
      
              <label for="apellidos">Introduce los apellidos del jugador</label>
              <input type="text" th:field="*{apellidos}"
                     id="apellidos" placeholder="Introduce la categoria" class="form-control mb-5 col-">
      
              <label for="alias">Introduce el alias del jugador</label>
              <input type="text" th:field="*{alias}"
                     id="alias" placeholder="Introduce el alias" class="form-control mb-5 col-">
      
              <label for="equipoNombre">Introduce el equipo del jugador</label>
              <input type="text" th:field="*{equipoNombre}"
                     id="equipoNombre" placeholder="Introduce el equipo" class="form-control mb-5 col-"> -->
             <p>
                    Selecciona el equipo
                    <select th:field="*{equipoNombre}" class="form-control mb-5 col-">
                           <option th:each="equipo : ${equipos}" th:value="${equipo.nombre}" th:text="${equipo.nombre}"></option>
                    </select>
             </p>
             <p>
                    Selecciona la posición del jugador
                    <select th:field="*{posicionNombre}" class="form-control mb-5 col-">
                           <option th:each="posicion : ${posiciones}" th:value="${posicion.nombre}" th:text="${posicion.nombre}"></option>
                    </select>
             </p>
                     
              <!-- <label for="ima">Introduce la imagen</label>
              <input type="text" th:field="*{imagen}" 
                    id="ima" placeholder="Introduce la imagen" class="form-control mb-54 col-4"> -->

    </form>

    <hr>

    <a th:href = "@{/pagina-todos-jugadores-admin}"> Atras</a>
</div>
</body>
</html>