<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicia sesión como administrador</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Añade tus credenciales de administrador</h1>
    <hr>

    <p th:if="${error}" th:text="${error}"></p>


    <form action="#" th:unless="${error}" th:action="@{/loginAdmin}" th:object="${administrador}" method="POST">
       
       <p>Correo: <input type="email" th:field="*{adminCorreo}" class="form-control mb-5 col-"/></p>
       <p>Contraseña: <input type="password" th:field="*{adminPassword}" class="form-control mb-5 col-"/></p>
       <!-- <p>Nombre: <input type="text" th:field="*{nombre}" class="form-control mb-5 col-"/></p>
       <p>Apellidos: <input type="text" th:field="*{apellidos}" class="form-control mb-5 col-"/></p> -->

       <!-- <input type="text" th:field="*{nombre}"
               placeholder="Introduce el nombre" class="form-control mb-5 col-">

        <input type="text" th:field="*{apellido1}"
               placeholder="Introduce el primer apellido" class="form-control mb-5 col-">

        <input type="text" th:field="*{apellido2}"
               placeholder="Introduce el segundo apellido" class="form-control mb-5 col-">
              
        <input type="password" th:field="*{password}"
               placeholder="Introduce la contraseña" class="form-control mb-54 col-4">

        <input type="email" th:field="*{correo}"
               placeholder="Introduce el correo electronico" class="form-control mb-5 col-"> -->

       
       <h4>Iniciando sesión de esta manera le permitirá agregar, actualizar y eliminar la información de la base de datos</h4>
   

        <button type="submit" class="btn btn-info col-2"> Guardar e iniciar sesión</button>
    </form>

    <hr>

    <a th:href = "@{/}"> Atrás</a>
</div>
</body>
</html>