<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jugadores de la base de datos</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>

<body style="margin-left: 5%; margin-right: 5%; margin-top: 15px">
<h2>Tabla con los jugadores</h2>

<a th:href="@{/viewMensajes}" class="btn btn-primary btn-sm mb-5"> Ver chats </a>

<br>
<form action="#" th:action="@{/pagina-todos-jugadores-user}" method="GET">

    <label for="cars">Seleccionar equipo</label>
        <select name="equipoNombre" class="form-control mb-5 col-2">
            <option th:each="equipo : ${equipos}" th:value="${equipo.nombre}" th:text="${equipo.nombre}"></option>
        </select>
    <button type="submit" class="btn btn-info col-2"> Ver </button>
</form>


<p th:if="${error}" th:text="${error}"></p>

<table th:unless="${error}" style="border: 1px" class = "table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>
            <a>DNI</a>
        </th>
        <th>
            <a>Nombre</a>
        </th>
        <th>
            <a>Apellidos</a>
        </th>
        <th>
            <a>Alias</a>
        </th>
        <th>
            <a>Imagen</a>
        </th>
        <th>
            <a>Posición</a>
        </th>
        <th>
            <a>Equipo</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="jugador : ${jugadorList}">
        <td th:text="${jugador.dni}"></td>
        <td th:text="${jugador.nombre}"></td>
        <td th:text="${jugador.apellidos}"></td>
        <td th:text="${jugador.alias}"></td>
        <td>
            <img th:src="@{http://localhost:8022/imagen/{dni}(dni=${jugador.dni})}">
        </td>
        <td th:text="${jugador.posicionNombre}"></td>
        <td th:text="${jugador.equipoNombre}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}" class="btn btn-primary btn-sm mb-5">Atrás</a>

</body>
</html>
